body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.timeTextLogo {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand;
  padding-top: 2%;
  padding-bottom: 5%;
}
.logo-container {
  padding-top: 5%;
  background-color: white;
}

li {
  list-style-type: none;
}

#location_text {
  text-decoration: underline;
}

.navbar-nav {
  text-decoration: none;
}

.navbar {
  background-color: #eab676;
}

.navbar a {
  color: white;
}

.navbar a:hover,
.navbar a:focus {
  color: white;
}

.meet-mamma {
  padding: 3%;
  color: black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  grid-template-areas: 'meet_text headshot';
}

.food-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'food_1 food_2 food_3 food_4'
    'food_5 food_6 food_7 food_8';
}

.headshot {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

/* Ensure the button spans the default width */
.dropdown .btn {
  width: auto;
}
/* Media Queries for Phone Screens */
@media (max-width: 950px) {
  body {
    margin: 0;
    left: 0;
    right: 0;
  }

  .dropdown {
    background-color: #eab676;
    width: 100vw;
    height: 7vh;
  }

  /* Remove padding and margin from the dropdown menu */
  .dropdown-menu {
    margin: 0;
    width: 100vw;

    transition-property: transform;
    transition-duration: 2.5s;
    transition-timing-function: ease;
    transition: 0s;
  }

  .dropdown-menu.show {
    transform: translateY(-20px);
    display: block;
    border: none;
    border-radius: 0;
    background-color: #eab676;
  }

  /* Ensure the dropdown items span full width */
  #mamma_logo {
    height: 100%;
    width: 95%;
    padding-bottom: 3%;
  }

  .ourMenuText {
    font-size: large;
  }
  .navbar {
    flex: auto;
  }
  .navbar-nav {
    flex: auto;
  }

  .navbar a {
    flex: auto;
    color: white;
    font-size: xx-small;
  }

  .meet-mamma {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'meet-text'
      'headshot';
  }

  .meet-text {
    font-size: 1em;
  }

  .food-showcase {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'food_1 food_2'
      'food_3 food_4'
      'food_5 food_6'
      'food_7 food_8';
  }
  .food-showcase img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
/*TAKEOUT CSS */

#takeoutBodyID {
  background-color: #eab676;
}

.takeoutAndDelivery {
  font-size: 2em;
  display: grid;
  text-align: center;
  row-gap: 40%; /* Temporary until I add animations */
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'takeout'
    'delivery';
}

.deliveryText {
  text-decoration: none;
  color: black;
}

.dropdown-takeout {
  background-color: #b47e3c;
}

.dropdown-delivery {
  background-color: #b47e3c;
}
.takeoutAndDelivery .dropdown-takeout {
  margin: 10px 0;
}

.takeoutAndDelivery .dropdown-menu {
  width: 100%;
  text-align: center;
}

.takeoutAndDelivery .dropdown-toggle::after {
  margin-left: 5px;
}

/* Additional styling to keep dropdowns centered and ensure full width for items */
.takeoutAndDelivery .dropdown-menu .dropdown-item {
  width: 100%;
  box-sizing: border-box;
  color: white;
}
/*TAKEOUT CSS */

/*LOCATION CSS */

.locationContainer {
  font-size: 2em;
  display: grid;
  text-align: center;
  row-gap: 20%; /* Temporary until I add animations */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'map location';
}

/*LOCATION CSS */

/*RESERVATION CSS */
#mamma_logo-reservation {
  padding-top: 5%;
  height: 100%;
  width: 90%;
  padding-bottom: 3%;
}
.reservation-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'Reservations'
    'ReservationsText'
    'PhoneNumber';
}

#phoneNumberReservation {
  color: black;
  font-size: 1em;
  font-weight: 600;
}

/*RESERVATION CSS */

/*MENU CSS */
.menu-container {
  outline: red;
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'MenuText'
    'ImagePDF';
}

#menuImage {
  height: 40vh;
  width: 80vw;
}

/*MENU CSS */
